body{
    margin:0;
    padding:0;
   font-size: 16px;
    font-family: 'Roboto',sans-serif;
}
h1,h2,h3,h4,h5,h6{
    
    font-family: 'Inter',sans-serif;
    font-weight: 600px;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }
a{
    text-decoration: none;
}
#navbar{
    padding:8px;
    margin:0;
}


h1{
    text-align: center;
    color:darkgoldenrod
}
#banner{
    width: 100%;
    object-fit: cover;
}

#about{
    display: flex;
    margin:0 auto;
    max-width: 800px;
    padding:8px;
}
#description{
    width: 50%;
    font-size: 1.25rem;
    padding-right:8px;
}
#team{
    width: 50%;
}
#team-img{
    border-radius: 5px;
    width:100%;
}
h2{
    text-align: center;
}
#jobs{
    max-width: 800px;
    margin: 0 auto;
    padding:0 8px ;
}
#jobs-table{
    width: 100%;
    border:1px solid gray;
    border-collapse: collapse;
}
.jobs-header-row th{
    border:1px solid gray;
    padding: 8px;
    text-align: center;
    background-color: aliceblue;
}
.jobs-data-row td { /* Remove the bottom border */
    padding: 8px;
    
    border: 1px solid gray; 
    /* Retain padding */
}


#jobs-table tr:nth-child(odd){
    background-color: aliceblue;
}

h3{
    margin-bottom: 0;
    margin-top: 0;
}
.apply{
    float:right;
}
#footer{
    padding: 8px;
    margin-top: 32px;
    text-align: center;
    background-color:ghostwhite ;
}
#footer-links{
    list-style: none;
   
}
#footer-links li{
    display:inline;
    margin:0px 16px;
}
.copyright{
color: #797575;
font-size:0.875rem ;
}
a{
    color:rgb(26, 131, 201)
}
a:hover,a:focus{
    color:indigo;
}
#application{
    max-width: 800px;
    padding:0 8px;
    margin:0 auto;
}
.form-group{
    margin:16px 0;
}
#application-form label{
font-weight: 600;
}
#application-form input,select,textarea{
    padding:8px;
   font-size:1.25rem;
   margin-top:4px;
   border-radius: 5px;
   border: 1px solid gray;
    }
.form-group textarea{
        width:88%;
        font-family:'Roboto' ,sans-serif;
        }
.form-group input[type="checkbox"]{
    width: 16px;
    height: 16px;
}
.form-group input[type="submit"]{
    background-color: #3BB2F6;
    color: white;
    font-weight: 500;
    padding: 16px 16px 16px 16px;
    cursor: pointer;
}

